@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 100%;
  background: #f4f4f4;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

main {
  background: #fff;
  padding: 2rem;
  border-radius: 0.5em;
  color: rgb(24, 40, 40);
  box-shadow: 1px 1px 20px #00000050;
  position: relative;
}

main h2 {
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  text-align: center;
}

main form {
  width: 30em;
  display: flex;
  height: 2.5rem;
}

form input {
  width: 86%;
  padding: 0.4rem;
  border-radius: 0.5em 0 0 0.5em;
  font-size: 1.1rem;
  font-weight: 500;
  border: 2px solid rgb(204, 204, 204);
}

form input::placeholder {
  font-weight: 700;
  font-size: 1rem;
  color: rgb(204, 204, 204);
}

.submit-btn {
  font-size: 1rem;
  width: 14%;
  background: rgb(149, 232, 232);
  border: 2px solid rgb(149, 232, 232);
  padding: 0;
  border-radius: 0 0.5em 0.5em 0;
  color: rgb(143, 143, 143);
  font-weight: 700;
  cursor: pointer;
}

.grocery-list {
  list-style-type: none;
  padding-left: 0.7rem;
}

.grocery-list .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
}

.item:hover {
  background: rgb(235, 253, 253);
  border-radius: 0.5em;
}

.item > div {
  display: flex;
  gap: 0.5rem;
}

.item > div button {
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.item > div > .edit-btn {
  color: greenyellow;
}

.item > div > .delete-btn {
  color: red;
}

.clear-all {
  font-weight: 400;
  color: red;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.3rem;
  letter-spacing: 0.2em;
  display: block;
  margin: 0 auto;
}

.alert {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  width: 100;
  border-radius: 0.5em;
  padding: 0.3rem;
  width: 60%;
}

.alert.success {
  background: greenyellow;
  color: green;
}
.alert.failure {
  background: rgb(255, 116, 116);
  color: red;
}
